.music-track-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 12px 8px;
  color: #fff;

  gap: 1.5rem;
  width: 100%;
  min-width: 0;

  &:hover {
    background: #232323;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: 0;

    .play-btn {
      background: none;
      border: none;
      padding: 0;
      margin-right: 0.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      transition: box-shadow 0.2s;
      &:hover {
        box-shadow: 0 0 0 4px rgba(162, 89, 255, 0.15);
      }
    }
    .album-art {
      width: 48px;
      height: 48px;
      border-radius: 8px;
      object-fit: cover;
      background: #444;
      flex-shrink: 0;
    }
    .track-info {
      display: flex;
      flex-direction: column;
      min-width: 0;
      .title {
        font-weight: 700;
        font-size: 1.1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .artist {
        color: #aaa;
        font-size: 0.95em;
        margin-top: 0.1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        gap: 0.2em;
      }
      .meta {
        display: flex;
        gap: 1.2em;
        margin-top: 0.3em;
        font-size: 0.95em;
        .bpm,
        .key {
          display: flex;
          align-items: center;
          gap: 0.3em;
          font-size: 0.75rem;
          font-family: inter-medium, sans-serif !important;
          font-weight: 500;
          font-style: normal;
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: 0;
  }
}
.temp {
  display: flex;
  gap: 10px;
}

@media (max-width: 900px) {
  .tags {
    display: none;
  }
  .temp {
    display: none;
  }
  .key {
    display: none;
  }
}
@media (max-width: 830px) {
  .play-btn {
    display: none !important;
  }
}
