<div class="music-track-card">
  <div class="left">
    <button class="play-btn" aria-label="Play">
      <!-- Play Icon SVG -->
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="12" cy="12" r="12" fill="#A259FF" />
        <polygon points="10,8 16,12 10,16" fill="#fff" />
      </svg>
    </button>
    <img class="album-art" [src]="image" alt="Album Art" />
    <div class="track-info">
      <div class="title">{{ title }}</div>
      <div class="meta">
        <div class="artist">
          {{ artist }}
          <ng-container *ngIf="isStarred">
            <!-- Gold Star SVG -->
            <img
              src="https://beat22.com/assets/imgs/subs_premium_tick_img.png"
              [height]="13"
              [width]="13"
              alt="star"
            />
          </ng-container>
          <ng-container *ngIf="isVerified">
            <!-- Blue Check SVG -->
            <img
              src="https://beat22.com/assets/imgs/subs_pro_tick_img.png"
              alt="verified"
              [height]="13"
              [width]="13"
            />
          </ng-container>
        </div>

        <div class="temp">
          <span class="bpm">
            <!-- Wave Icon -->
            <beat22-icon
              [name]="'brand-google-analytics'"
              color="#7c68a7"
              [height]="10"
              [width]="10"
            ></beat22-icon>

            {{ bpm }} BPM
          </span>
          <span class="temp key">
            <!-- Music Note Icon -->
            <beat22-icon
              [name]="'music'"
              color="#7c68a7"
              [height]="15"
              [width]="15"
            ></beat22-icon>
            {{ key }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="tags">
      @for(tag of tags; track $index) {
      <beat22-chips [label]="tag"></beat22-chips>
      }
    </div>
    <beat22-button [iconName]="'shopping-cart'"> ₹{{ price }} </beat22-button>
    <beat22-icon
      style="cursor: pointer"
      [name]="'dots-vertical'"
      [color]="'#8e8e8e'"
      [height]="22"
      [width]="22"
    ></beat22-icon>
  </div>
</div>
