/* You can add global styles to this file, and also import other style files */
@import "./styles/color.scss";

body {
  background-color: $body-background;
  margin-left: 70px;
  margin-right: 70px;
  font-family: inter-regular, sans-serif !important;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

@media (max-width: 830px) {
  body {
    width: 100vw;
    margin-left: 25px;
    margin-right: 25px;
  }
}
